---
layout: default
title: Architect Theme by Jason Long
---

<div id="home">
    <h1>Blog Posts</h1>
    <div class="posts">
        {% for post in paginator.posts %}
        <article class="post">
            <div class="post title"><span>{{ post.date | date: "%a, %e %b %Y %H:%M" }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
            {% if post.tags and post.tags.size > 0 %}
            <div class="tags">
                Tagged:
                {% for tag in post.tags %}
                <span><i class="tag-before"></i>{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% if post.excerpt %}
                {{ post.excerpt }}
            {% endif %}
            <p class="post more"><a href="{{ site.baseurl }}{{ post.url }}">Read More&hellip;</a><p>
        </article>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>
