---
layout: default
---
<div id="home" class="grid">
    <p>
    My posts are mostly for my record so that I can rebuild if things fail, but may be helpful to others.  If you find errors please let me know, but it may be that the error does not exist in my configuration.
    </p>
	{% if site.sidebar %}
    <div class="unit two-thirds posts">
        {{ content }}
    </div>
    <div class="unit one-third sidebar">
        {% include sidebar.html %}
    </div>
    {% else %}
    <div class="unit whole posts">
        {{ content }}
    </div>
    {% endif %}
</div>
